@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    font-family: var(--font-roboto), Helvetica, Arial, sans-serif;
    color: #000000;
  }
}

@layer components {
 
  /* Logo */
  .logo-text {
    font-family: var(--font-roboto-condensed);
    font-weight: 400;
    font-style: normal;
    color: #212121;
  }
  
  /* navbar */
    .nav-link {
    font-family: var(--font-roboto-condensed);
    font-weight: 700;
    font-size: 15px;
    color: #000;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
}